

.table__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__actions input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    width: 100%;
    margin: 0 0.5rem;
}

.btn__add{
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
}

.btn__search{
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.btn__search svg{
    width: 2rem;
    height: 2rem;
    color: #333;
}

.btn__search svg:hover{
    color: var(--secondary-color);
}

.table__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: var(--white-color);
    margin: 1rem 0;
}

.table__container table {
    width: 100%;
    border-collapse: collapse;
}

.table__container table thead {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.table__container table thead th {
    padding: 1rem;
    text-align: center;
}

.table__container table tbody tr {
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.btn__action {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn__action svg {
    width: 1rem;
    height: 1rem;
    color: var(--font-color);
}

.btn__action svg:hover {
    opacity: 0.8;
}

.table__pagination {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 1rem;
}

.page__numbers {
    display: flex;
    align-items: center;
}

.page__numbers li {
    list-style: none;
    margin: 0 0.5rem;
    cursor: pointer;
}

.page__numbers li:hover {
    font-weight: bold;
}

.page__numbers li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.page__numbers li a:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.page__numbers__active {
    font-weight: bold;
}
