:root{
  --primary-color: white;
  --secondary-color: #FB923C;
  --font-color: #222;
  --font-color-light: #9A9A9A;
  --background-color: #F7F7F7;
  --sidebar-over: #FCC79B;
  --white-color: #fff;
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: var(--background-color);
  min-height: 100vh;
}

.App {
  text-align: center;
}


